/*Partie page d'acceuil index.html*/
*{
    padding: 0;
    margin: 0;
    font-family : Arial, Helvetica, sans-serif;
}
.texte{
    text-align: justify;
    font-family : Arial, Helvetica, sans-serif;
    color: #55368A;
    padding: 2%;
    font-weight: 500;
}
.text{
    height:19%;
    width: 75%;
    border-style: double;
    border-color: black;
    border-radius: 4px;
    border-width: 4px 4px;
    background-color: white;
    position: relative;
    animation: slideInFromLeft 1s ease-out forwards;
}
@keyframes slideInFromLeft{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }

}
.design{
    height: 30%;
    width: 75%;
    border-radius: 40px;
    animation: Design 1s ease-in-out forwards;
}
@keyframes Design{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.principale{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20% auto;
    width: 70vh;
    height: 100vh;
    border: 2px solid rgb(85,54,138);
    background-color: rgba(209, 207, 182, 0.34);
    border-radius: 10px;
}
.bienvenu{
    font-family : Arial, Helvetica, sans-serif;
    color: #55368A;
    font-weight: 700;
    transition: transform 0.3s ease-in-out;
    animation: Bienvenu 1s ease-in-out forwards;
}
.bienvenu:hover{
    transform: scale(1.1);
}
@keyframes Bienvenu{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0%);
    }
}

.bouton-accueil{
    border: 1px solid black;
    width: 25vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #55368A;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    
}
.btn{
    text-decoration: none;
    color: white;
}
.bouton-accueil:hover{
    transform: scale(1.3);
}
                                            /*Partie cv cv.html*/
            /* La balise principale main et le body*/
.cv{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: rgba(209, 207, 182, 0.1);
}
.contenu{
  max-height: 210mm;
  max-width: 297mm;
  height: 100vh;
  width: 70.7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 3vh;
  border: 1px solid black;
  gap: 3vh;
  background-color: white;
}
            /* mon image en haut à gauche */
.tof{
    height: 27vh;
    width: 27vh;
    border: 4px solid white;
    border-radius: 50%;
}
.img-tete{
    position: relative;
    /* top: 5vh; */
}
            /* Le div à droite */
.droite{
    border: 1px solid black;
    height: 100%;
    width: 50%;
}

            /* Le div à gauche */
.gauche{
    border: 1px solid black;
    height: 100%;
    width: 50%;
    background-color: #D9D9D9;
}
            /* Les div dans le div  à gauche */
.haut{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 43%;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px; 
    background-color: #632C2C;
}
/* Les éléments dans le div à gauche en haut */
.nom{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 900;
}
.nom-dev{
    font-size: 16px;
    color: white;
    font-weight: 500;
}
/* le div à gauche au milieu */
.milieu{
    border: 1px solid black;
    height: 15%;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
    /* Les div dans le div milieu les icones et les textes */
.m1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}
#con{
    font-size: 2.5em;
}
.contact{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
.m2,.m3,.m4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* border: 1px solid black; */
    /* margin-right: 5em; */
    margin: 0.1em 0;
}
.m2{
    margin-right: 7.7em;
}
.m3{
    margin-right: 5.7em;
}
.m4{
    margin-right: 8.7em;
}
/* le div à gauche en bas */
.bas{
    height: 41%;
    border: 1px solid black;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #632C2C;
}
        /* Les éléments dans le div en bas */
.b1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    margin-top: 3em;
    margin-right: 4em;
}
.cerclegrad{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3em;
    width: 2.3em;
    background-color: white;
    
}
#grad{
    font-size: 15px;
}
.parcours{
    font-size: 15px;
    font-weight: 900;
    color: white;
}
.lycee{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-right: 7.1em;
    margin-top: 1em;
}
.bac{
    font-size: 11px;
    font-weight: lighter;
    color: white;
    margin-right: 5.5em;
    opacity: 0.9;
}
.enetp{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-right: 10.3em;
}
.master{
    font-size: 11px;
    font-weight: lighter;
    color: white;
    margin-right: 5.5em;
    opacity: 0.9;
}
.b2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    margin-right: 2em;
    margin-top: 2em;
}
.cercleref{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3em;
    width: 2.3em;
    background-color: white;
}
#ref{
    font-size: 15px;
}
.reference{
    font-size: 15px;
    font-weight: 900;
    color: white;
}
.amadou{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-right: 5.5em;
    margin-top: 0.5em;
}
.rue1{
    font-size: 11px;
    font-weight: lighter;
    color: white;
    opacity: 0.9;
    margin-right: 5em;
}
.ousmane{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-right: 5.5em;
}
.rue2{
    font-size: 11px;
    font-weight: lighter;
    color: white;
    opacity: 0.9;
    margin-right: 3.5em;
}
                            /* Le Div à Droite */
.droite{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.apro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-right: 2em; 
    margin-bottom: 1em;  
}
.apropos{
    position: relative;
    bottom: 1em;
}
#prop{
    font-size: 2.5em;
}
.propo-text{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
.texto{
    font-size: 11px;
    font-weight: lighter;
    color: #632C2C;
    opacity: 0.9;
    text-align: justify;
}
.exp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-right: 2.3em;
}
#experi{
    font-size: 1.5em;
}
.experi-text{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
.cercleexperi{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}
.experiencepro{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.exp1{
    font-size: 11px;
    font-weight: lighter;
    color: #632C2C;
    opacity: 0.9;
    text-align: justify;
}
.exp2{
    font-size: 11px;
    font-weight: lighter;
    color: #632C2C;
    opacity: 0.9;
    text-align: justify;
}
.exp3{
    font-size: 11px;
    font-weight: lighter;
    color: #632C2C;
    opacity: 0.9;
    text-align: justify;
}
.web{
    font-size: 12px;
    font-weight: 700;
    color: #632C2C;
}
.product{
    font-size: 12px;
    font-weight: 700;
    color: #632C2C;
}
.motion{
    font-size: 12px;
    font-weight: 700;
    color: #632C2C;
}
.sqil{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 1em;
}
.squil-text{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
.circlesquil{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}
#chart{
    font-size: 1.5em;
}
.htm,.adobe,.microsoft{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.skills p{
    color: #632C2C;
}
.prog1{
    position: relative;
    left: 2em;
}
.prog2{
    position: relative;
    right: 0.3em;   
}
.prog3{
    position: relative;
    right: 0.1em; 
}
.lang{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.lang-text{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
#langico{
    font-size: 1.5em;
}
.cerclelang{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}
.anglais{
    color: #632C2C;
}
.francais{
    color: #632C2C;
}
.l1{
    border: 1px solid #632C2C;
    background-color: #632C2C;
    height: 0.2em;
    width: 0.2em;
    border-radius: 50%;
}
.l2{
    border: 1px solid #632C2C;
    background-color: #632C2C;
    height: 0.2em;
    width: 0.2em;
    border-radius: 50%;
}
.glob1,.glob2{
    margin-top: 1em;
    margin-left: 1em;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.cercleflag{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}
.hobby-text{
    font-size: 15px;
    font-weight: 900;
    color: #632C2C;
}
.hobby{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.hobbies2{
    border: 1px solid #632C2C;
    background-color: #632C2C;
    height: 0.2em;
    width: 0.2em;
    border-radius: 50%;
}
.lec{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: left;
    margin-left: 1em;
    margin-top: 1em;
}
.mesboutons{
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: relative;
    left: 5em;
}
.retour{
    border-radius: 3em;
    padding: 1em;
}
.retour:hover{
    font-weight: 500;
    color: #D9D9D9;
    background-color: #63ca3b;
    transform: scale(1.3);
}
.couleur{
    border-radius: 3em;
    padding: 1em;
}
.couleur:hover{
    font-weight: 500;
    color: #D9D9D9;
    background-color: #7751b3;
    transform: scale(1.3);
}
.telecharger{
    border-radius: 3em;
    padding: 1em;
}
.telecharger:hover{
    font-weight: 500;
    color: #D9D9D9;
    background-color: #f13838;
    transform: scale(1.3);
}

  